* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    margin-block: 5rem;
}


figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60rem;
    margin-inline: auto;
  
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    border-bottom: 1px solid black;
    margin-block-end: 1rem;
}

figcaption span {
    font-size: 1.5rem;
    color: rgb(72, 72, 72);
}

img {
    width: 25rem;
}

button {
    padding: 0.25rem 0.75rem;
    margin-inline: 1rem;
    font-size: 1rem;
    background:  rgb(246, 197, 111);
    border-radius: 0.5rem;
    border: none;
}

.amount {
    margin-block: 1rem;
    width: 3rem;
}

input {
   font-size: 1rem;
 padding-inline: 1rem;
}



.selected {
    border: 2px solid rgb(246, 197, 111);
    border-radius: 1rem;
    padding: 1rem;
}

#cartItems {
    list-style: none;
}

li {
    font-size: 1.5rem;
}